.body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.body-blue {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #00319c}

.body-white {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff}

.body-bold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}

.body-head {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.body-head:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none}

.body-small {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}

.body-small-blue {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #00319c}

.body-small-grey {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #666666}

.body-small-bold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}

.small-ilink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none}

.small-ilink:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; text-decoration: none}

.border {  border: #000000; border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.border2 {  border: #FFFFFF; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.bullets { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FF9900;}

.cutline {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #666666}

.footer {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; text-decoration: none;}

.footer:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #666666; text-decoration: none;}

.headline {font-family: Verdana, Arial, Helvetica, San-Serif; font-size: 18px; font-weight: bold; color: #000000; text-decoration: none}

.innovation {font-family: Verdana, Arial, Helvetica, San-Serif; font-size: 16px; font-weight: bold; color: #6699FF; text-decoration: none}

.leftnavtext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; font-weight: normal}

.leftheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFCC; text-decoration: underline; font-weight: bold}

.leftheader:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFCC00; text-decoration: underline; font-weight: bold}

.medialinks {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; font-weight: normal}

.medialinks:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFCC; text-decoration: underline; font-weight: normal}

.mediahilite {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFCC00; text-decoration: none; font-weight: bold }

.mediahilite:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFCC00; text-decoration: underline; font-weight: bold }

.mgoff {background:#eeeeee;	BORDER-BOTTOM: #999999 1px solid;BORDER-RIGHT: #CCCCCC 1px solid;PADDING-LEFT: 7px; }

.mgon {	cursor:hand; background:#ffffee; BORDER-BOTTOM: #999 1px solid;	BORDER-RIGHT: #CCCCCC 1px solid;PADDING-LEFT: 7px; }

.mgvoidlink {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #CCCCCC; text-decoration: none; font-weight: 600; line-height: 8pt;}

.mgvoidlink:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #CCCCCC; text-decoration: none; font-weight: 600; line-height: 8pt;}

.mguidenavlink {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #336699; text-decoration: none; font-weight: 600; line-height: 8pt;}

.mguidenavlink:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; text-decoration: none; font-weight: 600; line-height: 8pt;}

.nav {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: none; font-weight: normal}

.nav:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CCCC99; text-decoration: none; font-weight: normal}
.subtitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
}


.newsheads { color: #FFFFCC; font-size: 12px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.newsheads:hover { color: #FFFFCC; font-size: 12px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: underline }

.newslinks {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFCC; text-decoration: none; font-weight: bold}

.newslinks:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFCC; text-decoration: underline; font-weight: bold}

.newssublinks {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; text-decoration: none; font-weight: normal}

.newssublinks:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; text-decoration: underline; font-weight: normal}

.pulldown { color: #ffffff; font-size: 9px; font-family: Verdana, Arial, Helvetica; text-decoration: none }

.s2 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}

.sidenav { color: #ffffff; font-size: 10px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.sidenav:hover { color: #666666; font-size: 10px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.subhead { color: #000000; font-weight: bolder; font-size: 14px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.subhead-small { color: #000000; font-weight: bolder; font-size: 12px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.subhead-small-blue { color: #00319c; font-weight: bolder; font-size: 12px; font-family: Verdana, Arial, Helvetica, San-Serif; text-decoration: none }

.table {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
.tableColor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F60;
}
.tableDone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
}


.tr {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.topnav {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; text-decoration: none; letter-spacing: 1px; font-weight: 800}

.topnav:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; text-decoration: none; letter-spacing: 1px; font-weight: 800}

.sectionhdr {  font-size: 14pt; font-family: Verdana, Arial, Helvetica, San-Serif; font-weight: 800; letter-spacing: -1px; line-height: 13pt; overflow: visible; position: relative; z-index: 2; text-decoration: none; }

.sectionhdr:hover {  font-size: 14pt; font-family: Verdana, Arial, Helvetica, San-Serif; font-weight: 800; letter-spacing: -1px; line-height: 13pt; overflow: visible; position: relative; z-index: 2; text-decoration: none; }

.sidebarhead {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: none; color: #FFFFFF}

.sitemap {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; text-decoration: none;}

.sitemap:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #666666; text-decoration: none;}

.years {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #00319c}


#bannerbox
{
	left: 12px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#bannerbox
{
	left: 0;
}
/* end IE5-Mac hack */
.topnavRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #F00;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 800
}
